@import 'tailwindcss';
@config '../tailwind.config.ts';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    @apply font-sans text-[16px] md:text-[18px] leading-relaxed text-charcoal bg-offwhite;
  }
  h1 {
    @apply font-heading text-[2rem] md:text-[4.5rem] font-semibold leading-tight;
  }

  h2 {
    @apply font-heading text-[2rem] md:text-[3rem] font-semibold leading-snug;
  }

  h3 {
    @apply font-heading text-[1.5rem] md:text-[2rem] font-semibold leading-snug;
  }

  h4 {
    @apply font-heading text-[1.25rem] md:text-[1.5rem] font-normal leading-snug;
  }
  p {
    @apply text-[1rem] md:text-[1.25rem] leading-relaxed;
  }
  small,  .text-small {
    @apply text-[.8rem] leading-snug text-charcoal/70;
  }
  .section-label {
    @apply text-[.6rem] font-semibold uppercase tracking-[0.25em] text-charcoal/60;
  }
}


